.video__container {
    display: flex;
    justify-content: space-between;
}

.video__item {
    width: 583px;
    height: 323px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: inherit;
}

.video__icon {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 3;
}

.video__duration {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    position: absolute;
    bottom: 146px;
    left: 30px;
    margin: 0px;
    z-index: 3;
}

.video__name {
    font-size: 36px;
    line-height: 39px;
    width: 322px;
    position: absolute;
    bottom: 61px;
    left: 30px;
    text-align: left;
    margin: 0px;
    z-index: 3;
    font-family: Inter-Black;
    font-weight: 900;
}

.video_subtitle {
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin: 0px;
    z-index: 3;
    font-weight: normal;
}

.video__item_kamchatka {
    background-image: url("./images/kamchatka.jpg");
    z-index: 1;
    border-radius: 5px;
    background-size: cover;
}

.video__item_observatory {
    background-image: url("./images/observatory.jpg");
    z-index: 1;
    border-radius: 5px;
    background-size: cover;
}

@media screen and (max-width:1280px) {
    .video__item {
        width: 456px;
        height: 288px;
    }
    .video__name {
        font-size: 24px;
        line-height: 26px;
        width: 322px;
        bottom: 66px;
        left: 30px;
    }
    .video__duration {
        bottom: 151px;
    }
    .video_subtitle {
        bottom: 35px;
        left: 30px;
    }
}

@media screen and (max-width:1024px) {
    .video__container {
        width: 90%;
    }
    .video__item {
        width: 352px;
        height: 200px;
    }
    .video__name {
        font-size: 24px;
        line-height: 26px;
        width: 288px;
        bottom: 52px;
        left: 24px;
    }
    .video__duration {
        top: 84px;
        left: 24px;
    }
    .video_subtitle {
        bottom: 24px;
        left: 24px;
    }
    .video__icon {
        top: 25px;
        left: 25px;
    }
}

@media screen and (max-width:768px) {
    .video__container {
        flex-direction: column;
    }
    .video__item {
        width: 343px;
        height: 200px;
    }
    .video__name {
        width: 295px;
        bottom: 40px;
    }
    .video__duration {
        top: 82px;
    }
}

@media screen and (max-width:375px) {
    .video__item {
        width: 288px;
        height: 192px;
    }
    .video__name {
        width: 256px;
        left: 16px;
        bottom: 34px;
    }
    .video__duration {
        bottom: 100px;
        left: 16px;
    }
    .video_subtitle {
        bottom: 16px;
        left: 16px;
    }
    .video__icon {
        top: 16px;
        left: 16px;
    }

}