.cover__link {
    width: 1184px;
    height: 594px;
    text-decoration: none;
    color: inherit;
    z-index: 3;
}

.cover__image-link_title {
    width: 1094.27px;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    font-family: Inter-Black;
    position: absolute;
    top: 274px;
    left: 38.85px;
    margin: 0px;
    z-index: 3;
}

.cover__image-link_subtitle {
    width: 382px;
    position: absolute;
    left: 401px;
    bottom: 48px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0px;
    z-index: 3;
}

.cover {
    position: relative;
    margin: 0px auto 82px;
    width: 1184px;
}

.cover__image {
    opacity: 0.3;
}

@media screen and (max-width:1280px) {
    .cover__link {
        width: 100%;
        height: 591px;
    }
    .cover__image {
        width: 100%;
        height: 591px;
    }
    .cover__image-link_title {
        width: 720px;
        top: 186px;
        left: 151px;
    }
    .cover__image-link_subtitle {
        left: 321px;
        bottom: 35px;
    }
    .cover {
        margin: 0px auto 102px;
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .cover__link {
        height: 500px;
    }
    .cover__image {
        height: 500px;
    }
    .cover__image-link_title {
        top: 126px;
        left: 24px;
    }
    .cover__image-link_subtitle {
        left: 193px;
        bottom: 40px;
    }
}

@media screen and (max-width:768px) {
    .cover__link {
        height: 272px;
    }
    .cover__image {
        height: 272px;
    }
    .cover__image-link_title {
        width: 90%;
        top: 103px;
        left: 16px;
        font-size: 32px;
        line-height: 35px;
    }
    .cover__image-link_subtitle {
        width: 90%;
        left: 16px;
        bottom: 24px;
        font-size: 14px;
        line-height: 17px;
    }
    .cover {
        margin-bottom: 64px;
    }
}

@media screen and (max-width:375px) {
    .cover__image-link_title {
        top: 63px;
    }
}