.footer {
    padding-bottom: 48px;
    position: relative;
}

.footer__menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.footer__menu_item {
    margin: 0px 18px 0px 0px;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 41px;
}

.copyright {
    position: absolute;
    top: 10px;
    right: 0px;
    margin: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.footer__link {
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    .footer__menu_item {
        margin: 0px 20px 0px 0px;
        font-size: 1rem;
        line-height: 27px;
    }
    .copyright {
        top: 2px;
    }
}

@media screen and (max-width:768px) {
    .footer__menu {
        flex-direction: column;
    }
    .footer__menu_item {
        margin: 0px 0px 32px 0px;
        font-size: 1.5rem;
        line-height: 41px;
    }
    .copyright {
        position: relative;
        margin-top: 25px;
    }
    .footer {
        padding-bottom: 24px;
    }
}