@import url("./normalize.css");
@import url("../blocks/header/header.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/header/nav__lang/nav__lang.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/places/places.css");
@import url("../blocks/video/video.css");
@import url("../blocks/addictional/addictional.css");
@import url("../blocks/comments/comments.css");
@import url("../blocks/cover/cover.css");
@import url("../blocks/emblem/emblem.css");
@import url("../blocks/barentsburg/barentsburg.css");
@import url("../blocks/footer/footer.css");
/* Можно лучше: не уверена, что в задании предполагали использовать разные font-family
    если указать несколько @font-face с одинаковым font-family, но разными font-weight, font-style и подобным,
    то в зависимости от значений этих css-свойств будет выбираться нужный шрифт
    например, можно было написать
    @font-face {
    font-family: "Inter";
        font-weight: bold;
        font-style: normal;
        src: url("../fonts/woff/Inter-Black.woff") format('woff'), url("../fonts/woff2/Inter-Black.woff2") format('woff2'), url("../fonts/ttf/Inter-Black.ttf") format('ttf');
    }
    тогда если в стиле указан font-family: "Inter"; и font-weight: normal; -- применится Inter-Regular
    а для font-family: "Inter"; и font-weight: bold; -- применится Inter-Black
*/
@font-face {
    font-family: "Inter";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/woff/Inter-Black.woff") format('woff'), url("../fonts/woff2/Inter-Black.woff2") format('woff2'), url("../fonts/ttf/Inter-Black.ttf") format('ttf');
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/woff/Inter-Regular.woff") format('woff'), url("../fonts/woff2/Inter-Regular.woff2") format('woff2'), url("../fonts/ttf/Inter-Regular.ttf") format('ttf');
}

.page {
    width: 100%;
    background-color: #2A2C2F;
    color: #ffffff;
    font-family: Inter;
    font-weight: normal;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.content{
    width: 1440px;
    margin: 0 auto;
}

.link {
    transition: opacity .8s linear;
    color: inherit;
}

.link:hover {
    opacity: 0.7;
}

.content-1184 {
    margin: 0px auto 102px;
    width: 1184px;
}

.title {
    font-weight: bold;
    width: 800px;
    font-size: 72px;
    text-align: center;
    margin: 0px auto 48px;
}

.subtitle {
    margin: 0px auto 72px;
    width: 640px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.container {
    width: 1184px;
    margin: 0px auto;
}

.dark-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0;
    z-index: 2;
    transition: opacity .5s linear;
    width: inherit;
    height: inherit;
}

.dark-layer:hover {
    opacity: 0.8;
}

@media screen and (max-width:1440px) {
    .content {
        width: 1280px;
    }
}

@media screen and (max-width:1280px) {
    .content {
        width: 1024px;
    }
    .content-1184 {
        width: 928px;
    }
    .container {
        width: 928px;
    }
}

@media screen and (max-width:1024px) {
    .content {
        width: 768px;
    }
    .content-1184 {
        width: 720px;
    }
    .title {
        width: 720px;
        font-size: 42px;
        line-height: 46px;
        margin: 0px auto 24px;
    }
    .subtitle {
        margin: 0px auto 56px;
        width: 640px;
        font-size: 24px;
        line-height: 35px;
    }
    .container {
        width: 720px;
    }
}

@media screen and (max-width:768px) {
    .content {
        width: 375px;
    }
    .content-1184 {
        width: 343px;
        margin-bottom: 64px;
    }
    .title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
        margin: 0px auto 16px;
    }
    .subtitle {
        margin-bottom: 32px;
        width: 100%;
        font-size: 16px;
        line-height: 23px;
    }
    .container {
        width: 343px;
    }
}

@media screen and (max-width:374px) {
    .content {
        width: 320px;
    }
    .content-1184 {
        width: 288px;
    }
    .title {
        width: 288px;
    }
    .subtitle {
        width: 288px;
        margin-bottom: 34px;
    }
    .container {
        width: 288px;
    }
}
